@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  --primary-color: #0066ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background: #ececec;
}

/* Header Section */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  width: 300px;
}

.nav-button {
  display: none;
  width: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: inherit;
  list-style: none;
}

li {
  margin: 0 10px;
}

li a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

li a:hover {
  border-bottom: 4px solid var(--primary-color);
}

/* Hero */
section.hero {
  margin-top: 0;
}

.hero {
  height: 600px;
  background: url(/images/hero-image.webp) no-repeat center center / cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hero-info {
  width: 100%;
  color: #fff;
}

.hero-info h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

.hero-info p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background: #c5c5c5;
  padding: 10px 20px;
  border-radius: 50px;
  color: #111;
  text-decoration: none;
}

.contact-btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: #fff;
  border: 4px solid var(--primary-color);
}

.contact-btn:hover {
  font-weight: bold;
  background: #fff;
  color: var(--primary-color);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* About Me */
#about-me p {
  margin: 20px 0;
}

#about-me img {
  width: 100px;
}

.about-me-content {
  display: flex;
  align-items: center;
}

.about-me-content div:first-child {
  width: 60%;
}

.about-me-content .languages {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.about-me-content div:last-child > div {
  display: flex;
  justify-content: center;
}

/* My Projects */
#my-projects .container > p {
  margin-top: 20px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.projects div {
  padding: 10px;
  background: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: max-content;
  text-align: center;
  border-radius: 5px;
  max-width: 100%;
}

.projects div h3 {
  margin: 10px 0;
}

.projects div img {
  width: 100%;
}

.project-btn {
  padding: 5px 0;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  width: 40%;
  transition: 0.3s linear;
}

.project-btn:hover {
  transform: scale(1.05);
}

/* Contact Me */
#contact-me {
  margin-bottom: 30px;
}

#contact-me .container p {
  margin-top: 20px;
}

form {
  width: 60%;
  margin: 20px auto 0;
  padding: 20px;
  background: #f5f5f5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 18px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #c5c5c5;
}

textarea {
  padding: 10px;
  font-family: inherit;
  font-weight: inherit;
  font-size: 15px;
  height: 200px;
  border: 1px solid #c5c5c5;
  resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

input[type="submit"] {
  width: max-content;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

form .form-group:last-child {
  align-items: center;
}

.contact-icons {
  margin-top: 10px;
}

.contact-icons a {
  display: inline-block;
  margin-left: 10px;
}

/* Others */
#top-site {
  display: none;
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 70px;
  right: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

/* Footer Section */
footer {
  text-align: center;
}

/* Utilities */
h2 {
  width: max-content;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--primary-color);
  font-size: 30px;
  color: var(--primary-color);
}

a img {
  width: 50px;
  transition: 0.3s linear;
}

a img:hover {
  transform: scale(1.1);
}

section {
  margin-top: 30px;
}

/* Media Queries */
@media screen and (max-width: 480px) {
  strong {
    font-weight: 500;
  }

  /* Header */
  header {
    padding: 10px;
  }

  .container {
    padding: 0 10px;
  }

  .logo {
    width: 200px;
  }

  nav {
    flex-wrap: wrap;
  }

  .nav-button {
    display: block;
    opacity: 0.5;
    transition: 0.3s linear;
  }

  .nav-button.active {
    opacity: 1;
  }

  .collapsible-content {
    display: block;
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s linear;
  }

  .collapsible-content.expanded {
    max-height: max-content;
    opacity: 1;
  }

  .collapsible-content li {
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
  }

  /* Hero */
  .hero-info {
    text-align: center;
  }

  .hero-info h1 {
    font-size: 34px;
    line-height: 1.1;
  }
  .hero-info p {
    line-height: 1.3;
  }

  .contact-btn {
    font-size: 18px;
    font-weight: 500;
  }

  /* About Me */
  .about-me-content {
    flex-direction: column;
  }

  .about-me-content div:first-child {
    width: 100%;
  }

  .about-me-content div:last-child {
    width: 100%;
    margin-left: 0;
  }

  .about-me-content div:last-child p {
    margin: 0 0 20px;
  }

  #about-me img {
    width: 80px;
  }

  h2 {
    font-size: 28px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--primary-color);
  }

  /* My Projects */
  .projects {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  #my-projects .container div:last-child {
    text-align: center;
  }

  /* Contact Me */
  form {
    width: 100%;
    padding: 10px 20px;
  }

  label {
    font-weight: 500;
  }

  .contact-icons {
    text-align: center;
  }
}
