@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
  --primary-color: #0066ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
}

/* Header Section */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

header,
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: inherit;
}

li {
  margin: 0 10px;
}

li a {
  text-decoration: none;
  color: inherit;
  padding: 5px;
}

li a:hover {
  border-bottom: 4px solid var(--primary-color);
}

/* Hero */
section.hero {
  margin-top: 0;
}

.hero {
  height: 600px;
  background: url(/images/hero-image.webp) no-repeat center center / cover;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hero-info {
  width: 100%;
  color: #fff;
}

.hero-info h1 {
  margin-bottom: 30px;
  font-size: 40px;
}

.hero-info p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  background: #c5c5c5;
  padding: 10px 20px;
  border-radius: 50px;
  color: #111;
  text-decoration: none;
}

.contact-btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: 4px solid var(--primary-color);
}

.contact-btn:hover {
  font-weight: bold;
  background: #fff;
  color: var(--primary-color);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* About Me */
#about-me p {
  margin: 20px 0;
}

#about-me img {
  width: 100px;
}

#about-me .container {
  display: flex;
  align-items: center;
}

#about-me .container div:first-child {
  width: 60%;
}

#about-me .container .languages {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

#about-me .container div:last-child > div {
  display: flex;
  justify-content: center;
}

/* My Projects */
#my-projects .container > p {
  margin-top: 20px;
}

.projects {
  margin: 20px 0;
}

.projects div {
  padding: 10px;
  background: #f5f5f5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: max-content;
  text-align: center;
  border-radius: 5px;
}

.projects div h3 {
  margin: 10px 0;
}

.projects div img {
  width: 300px;
}

.project-btn {
  padding: 5px 0;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
  width: 40%;
  transition: 0.3s linear;
}

.project-btn:hover {
  transform: scale(1.05);
}

/* Contact Me */
#contact-me {
  margin-bottom: 30px;
}

#contact-me .container p {
  margin-top: 20px;
}

form {
  width: 60%;
  margin: 20px auto 0;
  padding: 20px;
  background: #f5f5f5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  font-size: 18px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #c5c5c5;
}

textarea {
  padding: 10px;
  font-family: inherit;
  font-size: 15px;
  height: 200px;
  border: 1px solid #c5c5c5;
  resize: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

input[type="submit"] {
  width: max-content;
  padding: 10px 30px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

input[type="submit"]:hover {
  transform: scale(1.05);
}

form .form-group:last-child {
  align-items: center;
}

.contact-icons {
  margin-top: 10px;
}

.contact-icons a {
  display: inline-block;
  margin-left: 10px;
}

/* Others */
#top-site {
  display: none;
  background: var(--primary-color);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 70px;
  right: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

/* Footer Section */
footer {
  text-align: center;
}

/* Utilities */
h2 {
  width: max-content;
  padding-bottom: 10px;
  border-bottom: 5px solid var(--primary-color);
  font-size: 30px;
  color: var(--primary-color);
}

a img {
  width: 50px;
  transition: 0.3s linear;
}

a img:hover {
  transform: scale(1.1);
}

section {
  margin-top: 30px;
}
